{% load static %}

<div id="about" class="container section py-5 d-flex flex-column align-items-md-center justify-content-md-center">
    <div class="title d-flex justify-content-center align-items-center">
        <div class="trait rounded-2 d-none d-md-block"></div>
        <div class="mx-3 montserrat-semi-bold textcolor fs-2">About me</div>
        <div class="trait2 rounded-2 d-none d-md-block"></div>
    </div>
    <div class="info d-flex col-12 flex-wrap justify-content-center py-5 aboutbox">
        <div class="col-md-5  col-12 text-center text-light border border-white rounded-2 p-5 m-3 about-item">
            <span class="textcolor">
                Introduction
            </span>
            <div class="text ">
                Hello! My name is Kouakep Dominique, and I’m passionate about creating digital solutions that make an
                impact. I started my journey in development through video game programming, where I discovered the joy
                of
                turning ideas into interactive experiences.
            </div>

        </div>
        <div class="col-md-5  col-12 text-center text-light border border-white rounded-2 p-5 m-3 about-item">
            <span class="textcolor">
                Current Focus
            </span>
            <div class="text">
                Today, I specialize in building web and mobile applications, solving complex problems, and delivering
                user-friendly, high-performance solutions.
            </div>
        </div>
        <div class="col-md-5  col-12 text-center text-light border border-white rounded-2 p-5 m-3 about-item">
            <span class="textcolor">
                Technical Skills
            </span>
            <div class="text ">
                Here are a few technologies I’ve been working with recently:
                Languages: Python, JavaScript (ES6+), Dart
                Frameworks: Django, React, Flutter
            </div>
        </div>
        <div class="col-md-5  col-12  text-center text-light border border-white rounded-2 p-5 m-3 about-item">
            <span class="textcolor">
                Collaboration
            </span>
            <div class="text ">
                Let’s work together to bring innovative ideas to life!
            </div>
        </div>
           </div>
</div>