{% load static %}

<div id="about" class="container section py-5 d-flex flex-column align-items-md-center justify-content-md-center">
    <div class="title d-flex justify-content-center align-items-center">
        <div class="trait rounded-2 d-none d-md-block"></div>
        <div class="mx-3 montserrat-semi-bold textcolor fs-2">My Certifications</div>
        <div class="trait2 rounded-2 d-none d-md-block"></div>
    </div>
    <div class="info d-flex col-12 flex-wrap justify-content-center py-5 aboutbox">
        
        
        <div class="col-md-5   col-12 text-center text-light border border-white rounded-2 p-3 m-3 ">
            <span class="textcolor">

                <iframe id="inlineFrameExample" 
                    title="Inline Frame Example" 
                    width="100%" 
                    src="https://drive.google.com/file/d/1NbhNKxDEYxuOdW-q-D2z1MoFS0HFvM57/preview?usp"> 
                </iframe> 
            </span>
        </div>

        <div class="col-md-5   col-12 text-center text-light border border-white rounded-2 p-3 m-3 ">
            <span class="textcolor">

                <iframe id="inlineFrameExample" 
                    title="Inline Frame Example" 
                    width="100%" 
                    src="https://drive.google.com/file/d/1yxMn3t9CrnvQ0JTUK2aYbvniHeBK0ewy/preview"> 
                </iframe> 
            </span>
        </div>


        <div class="col-md-5   col-12 text-center text-light border border-white rounded-2 p-3 m-3 ">
            <span class="textcolor">

                <iframe id="inlineFrameExample" 
                    title="Inline Frame Example" 
                    width="100%" 
                    src="https://drive.google.com/file/d/1aw52YNkT23ol-mOtS1pkwhoVWIqQ19_b/preview"> 
                </iframe> 
            </span>
        </div>

        <div class="col-md-5   col-12 text-center text-light border border-white rounded-2 p-3 m-3 about-item">
            <span class="textcolor">

                <p></p>
              <p>En COURS </p>

            </span>
        </div>






        </div>

    </div>
</div>