<div id="service" class="container section d-flex justify-content-center flex-column text-light ">
    <div class="title d-flex justify-content-center align-items-center py-5">
        <div class="trait rounded-2 d-none d-md-block"></div>
        <div class="mx-3 montserrat-semi-bold textcolor fs-2">My Skills</div>
        <div class="trait2 rounded-2 d-none d-md-block"></div>
    </div>

    <div class="d-flex justify-content-center flex-wrap myservices">

        <div class="col-12 col-md-5 col-lg-3 m-3 p-3 rounded-3 ">
            <p class="service-icon"><i class="fas fa-globe bg-light p-3 text-dark rounded-circle fs-4" ></i>
            </p>
            <p class="service-titre col-8 text-wrap">Web Development</p>
            <p class="service-description">Design and development of modern, high-performance websites , Applicationss , APIS tailored to your needs and optimized for a seamless user experience.
            </p>
        </div>

        <div class="col-12 col-md-5 col-lg-3 m-3 p-3 rounded-3 ">
            <p class="service-icon"><i class="fa-solid fa-database bg-light p-3 text-dark rounded-circle fs-4"></i>
            </p>
            <p class="service-titre col-12 text-wrap">Database administration</p>
            <p class="service-description"> Skilled in managing SQL and NoSQL databases, with knowledge in database design, query optimization, backup strategies, and security principles.
            </p>
        </div>

        <div class="col-12 col-md-5 col-lg-3 m-3 p-3 rounded-3 ">
            <p class="service-icon">
                <i class="fa-brands fa-python bg-light p-2 text-dark rounded-circle fs-4"></i> &nbsp;
                <i class="fa-brands fa-java bg-light p-2 text-dark rounded-circle fs-4"></i> &nbsp;
                <i class="fa-brands fa-js bg-light p-2 text-dark rounded-circle fs-4"></i>
            </p>
            <p class="service-titre col-8 text-wrap">Computer Science</p>
            <p class="service-description">
                Knowledge of algorithms, data structures, and programming paradigms like OOP. Experience with Python, Java, and JavaScript for software development.
            </p>
        </div>
        <div class="col-12 col-md-5 col-lg-3 m-3 p-3 rounded-3 ">
            <p class="service-icon">
                <i class="fa-solid fa-brain bg-light p-3 text-dark rounded-circle fs-4"></i>
            </p>
            <p class="service-titre col-8 text-wrap">Business Intelligence</p>
            <p class="service-description">
                Knowledge of data analysis, visualization, and reporting to support decision-making. Familiar with BI tools like Power BI , Tableau and Talent, as well as SQL for data extraction and transformation.
            </p>
        </div>
        <div class="col-12 col-md-5 col-lg-3 m-3 p-3 rounded-3 ">
            <p class="service-icon">
                <i class="fas fa-robot bg-light p-3 text-dark rounded-circle fs-4"></i>
            </p>
            <p class="service-titre col-8 text-wrap">Machine Learning</p>
            <p class="service-description">
                Familiar with supervised and unsupervised learning techniques, as well as tools like TensorFlow and Scikit-learn for building predictive models.
            </p>
        </div>
        <div class="col-12 col-md-5 col-lg-3 m-3 p-3 rounded-3 ">
            <p class="service-icon"><i class="fas fa-cogs bg-light p-3 text-dark rounded-circle fs-4" ></i>
            </p>
            <p class="service-titre col-8 text-wrap">Deep learning</p>
            <p class="service-description">
                Knowledge of neural networks and advanced AI models for tasks like image recognition and natural language processing.
            </p>
        </div>
        
        
    </div>

</div>