<div id="service" class="container section d-flex justify-content-center flex-column text-light ">
    <div class="title d-flex justify-content-center align-items-center py-5">
        <div class="trait rounded-2 d-none d-md-block"></div>
        <div class="mx-3 montserrat-semi-bold textcolor fs-2">My Services</div>
        <div class="trait2 rounded-2 d-none d-md-block"></div>
    </div>

    <div class="d-flex justify-content-center flex-wrap myservices">

        <div class="col-12 col-md-3 m-3 p-3 rounded-3 ">
            <p class="service-icon"><i class="fas fa-globe bg-light p-3 text-dark rounded-circle fs-4" ></i>
            </p>
            <p class="service-titre col-8 text-wrap">Website Development</p>
            <p class="service-description">Design and development of modern, high-performance websites tailored to your needs and optimized for a seamless user experience.
            </p>
        </div>
        <div class="col-12 col-md-3 m-3 p-3 rounded-3 ">
            <p class="service-icon"><i class="fas fa-mobile-alt bg-light p-3 text-dark rounded-circle fs-4" ></i>
            </p>
            <p class="service-titre col-8 text-wrap">Mobile Application Development</p>
            <p class="service-description">Development of intuitive and efficient mobile apps with custom features for Android and iOS.</p>
        </div>
        <div class="col-12 col-md-3 m-3 p-3 rounded-3 ">
            <p class="service-icon"><i class="fab fa-telegram bg-light p-3 text-dark rounded-circle fs-4" ></i>
            </p>
            <p class="service-titre col-8 text-wrap">Telegram Bot Creation</p>
            <p class="service-description">Design of Telegram bots to automate tasks, interact with users, or enhance your services.</p>
        </div>
        <div class="col-12 col-md-3 m-3 p-3 rounded-3 ">
            <p class="service-icon"><i class="fas fa-pencil-ruler bg-light p-3 text-dark rounded-circle fs-4" ></i>
            </p>
            <p class="service-titre col-8 text-wrap">Website Design</p>
            <p class="service-description">Creation of attractive and professional website designs, combining aesthetics with usability.</p>
        </div>
        <div class="col-12 col-md-3 m-3 p-3 rounded-3 ">
            <p class="service-icon"><i class="fas fa-palette bg-light p-3 text-dark rounded-circle fs-4" ></i>
            </p>
            <p class="service-titre col-8 text-wrap">Website Visual Identity Creation</p>
            <p class="service-description">Development of a cohesive and impactful visual identity that reflects the essence of your brand or business.</p>
        </div>
        <div class="col-12 col-md-3 m-3 p-3 rounded-3 ">
            <p class="service-icon"><i class="fas fa-code bg-light p-3 text-dark rounded-circle fs-4" ></i>
            </p>
            <p class="service-titre col-8 text-wrap">IT Solutions Development</p>
            <p class="service-description">Design and implementation of custom software solutions to address your business's technical challenges.</p>
        </div>
        
        
    </div>

</div>